nav.navbar-default.navbar-liquid(role="navigation")
  
  div.container
  
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#") Graviton API
  
    // main navbar with all apis
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        each apiFile in files
          if (JSON.parse(fileData)[apiFile].keywords && JSON.parse(fileData)[apiFile].keywords.indexOf("api-" + menuGroup) == 0) || !JSON.parse(fileData)[apiFile].keywords
            li.api-nav
              a(href="#" + apiFile)= apiFile.substr(13, 1).toUpperCase() + apiFile.substr(14)
        each menuGroup in menuGroups
          li.dropdown
            a.dropdown-toggle(href="#" data-toggle="dropdown")= menuGroup
              span.caret
            ul.dropdown-menu(role="menu")
              each apiFile in files
                if JSON.parse(fileData)[apiFile].keywords
                  if JSON.parse(fileData)[apiFile].keywords.indexOf("api-" + menuGroup) != -1
                    li.api-nav
                      a(href="#" + apiFile)= apiFile.substr(13, 1).toUpperCase() + apiFile.substr(14)
